[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynamodb = "*"
boto3 = "*"
botocore = "*"
pytz = "*"
pyjwt = "~=2.8"

[dev-packages]
chalice = "==1.29.0"
pytest = "*"
black = "*"
requests = "*"
coverage = "*"
freezegun = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"

[scripts]
show-foo = "echo $DB_HOST"
